.first{
    text-align: center;
    color: rgb(58, 58, 231);
}
.img1{
    text-align: center;
}
.second{
    text-align: center;
    /* color: rgb(58, 58, 231); */
}
.thirst{
    text-align: center;
    color: rgb(58, 58, 231);
}
