.header{
    background-color: brown;
    text-align: center;
    /* width: 50PX; */
    
}
.header1{
    background-color: rgb(204, 228, 16);
    /* text-align: center; */
    
    
}
.P{
    color: green;
    text-align: center;
    
}
.text{
    color: rgb(219, 11, 11);
}
.text1{
    text-align: center;
}